/* Wrapper for page */
.ranking-page {
    padding-left: 4rem;
    margin: 4rem 6rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.ranking-page h2 {
    font-size: 3rem; 
    /* padding: 0.5rem 1rem; */
}

.ranking-page h3 {
    font-size: 1.4rem;
}

/* Ordered list container*/
.ranking-list {
    /* list-style-position: inside; */
    list-style-type: none;
    margin-left: 0rem;
}

/* Item text */
.ranking-list li {
    font-size: 2rem;
}

/* Item number */
.ranking-list li::marker {
    font-size: 2rem;
    font-weight: bold;
}

/* Item button */
.ranking-list button {
    all: unset; 
    display: inline-block;
    cursor: pointer;
}

/* Movie image */
.ranking-list img {
    border-radius: 1.2rem;
    padding: 0.3rem;
    margin-right: 12px;
    vertical-align: middle;
    width: 100px;
    transition: transform 0.2s ease-in-out;  
}

.ranking-list img:hover {
    transform: scale(1.05);
}

/* home button */
.rank-return-button {
    margin-top: 10rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* not found wrapper */
.not-found-container {
    text-align: center;
    margin-top: 4rem;
}

.not-found-container button {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Container for each ranking line */
.ranking-item-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.rank-number {
    font-weight: bold;
    min-width: 20px;
}

/* Favorite button */
.star-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-button:hover,
.star-button.favorited {
    color: gold;
}